body {
    margin: auto;
    background-image: linear-gradient(to right, cyan, lime );
}

nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 15px;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    position:fixed;
}


footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 10px;
    list-style: none;
    font-size: 10;
    background: rgba(255, 255, 255, 0.7);
}

nav ul li, footer ul li {
    display: inline-block;
    font-size: 1.5em;
    padding: 10px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

nav ul li:hover, footer ul li:hover{
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: black;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 32px 64px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
    display: block;
}

button:hover{
    background-color: purple;
}

h1 {
    font-size: 5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: auto;
    padding: 40px;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    color: black;
    -webkit-text-stroke: 1.5px blueviolet;
}

h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin-top: 1500px;
    text-align: center;
}

p {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.5em;
    color: black;
    text-align: center;
}

.purple{
    color: blueviolet;
}

footer {
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}