body {
    margin: 20px auto;
    width: 90%;
    background-image: linear-gradient(to right, teal, green);
}

nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 20px;
    list-style: none;
    font-weight: bold;
    font-size: 50;
    background: rgba(0, 0, 0, 0.3);
}


footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 10px;
    list-style: none;
    font-weight: bold;
    font-size: 10;
    background: rgba(0, 0, 0, 0.3);
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 50px;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: auto;
    padding: 40px;
    text-align: center;
}

h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: auto;
    padding-top: 1000px;
    text-align: center;
}

p {
    font-size: 1.5em;
    color: #333;
    text-align: center;
}
footer {
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}