body {
    margin: 20px auto;
    width: 90%;
    background-image: linear-gradient(to right, cyan, lime );
}

nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 10px;
    margin: auto;
    width: 50%;
    list-style: none;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
}


footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 10px;
    list-style: none;
    font-size: 10;
    background: rgba(0, 0, 0, 0.3);
}

nav ul li, footer ul li {
    display: inline;
    font-size: 2em;
    padding: 20px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 4em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: auto;
    padding: 40px;
    padding-top: 150px;
    text-align: center;
    color: purple;
    -webkit-text-stroke: 3px #000;
}

h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: auto;
    padding-top: 1000px;
    text-align: center;
}

p {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.5em;
    color: blueviolet;
    text-align: center;
}
footer {
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}