body{
    padding: 10px;
    margin:0px;
    height:100%;
    background-color: #002733;
}

.left{
    flex: 1;
    border: 1px solid #849597;
    padding: 1rem;
    max-width: 10%;
}

.leftlower{
    background-color: gray;
    padding: 200px;
}

.right{
    flex: 1;
    border: 1px solid #849597;
    padding: 1rem;
    max-width: 15%;
}

.center{
    flex: 1;
    border: 1px solid #849597;
    padding: 10px;
    height: 90vh;
}

.parent{
    display:flex;
}

.chartcanvas{
    background-color: #013340;
    margin: auto;
    width: 100%;
    height: 100%;
}

.bookcanvas{
    background-color: #013340;
    margin: auto;
    width: 100%;
    height: 90%;
    margin-top: 30px;
}

.bookdetail{
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 1em;
    color: #EFEAD9;
    text-align: left;
}

.innerdivider{
    background-color: #013340;
    margin: auto;
    margin-left: 10px;
    width: 100%;
    padding: 5px;
}

.backbutton{
    background-color: #013340;
    border: none;
    color: #EFEAD9;
    padding: 16px 16px;
    text-align: center;
    margin-bottom: 5px;
}

.tradebutton{
    background-color: #013340;
    border: none;
    color: #EFEAD9;
    padding: 5px 5px;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
    width: 40%;
    font-size: 2em;
}

.tradebutton:hover{
    background-color: #218CD3;
}

.tradebox{
    background-color: #013340;
    border: none;
    color: #EFEAD9;
    margin: auto;
    width: 90%;
    text-align: center;
    resize: none;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1.5em;
}


.backbutton:hover{
    background-color: #218CD3;
}


.callbutton{
    border: none;
    background-color: #869A00;
    color:#EFEAD9;
    margin: auto;
    padding: 30px;
    margin-top: 50px;
    font-size: 2em;
    text-align: center;
    width: 100%;
}

.putbutton{
    border: none;
    background-color: #DD2E2B;
    color:#EFEAD9;
    margin: auto;
    padding: 30px;
    margin-top: 10px;
    font-size: 2em;
    text-align: center;
    width: 100%;
}

.callbutton:hover{
    background-color: #218CD3;
}

.putbutton:hover{
    background-color: #218CD3;
}


p{
    font-size: 1em;
    text-align: center;
    margin:auto;
    color: #EFEAD9;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: auto;
    text-align: center;
    color: black;
    -webkit-text-stroke: 1.5px blueviolet;
}

h2{
    color: #849597;
}

select{
    background-color: #013340;
    color: #EFEAD9;
    appearance: none;
    padding: 10px;
}

select:hover{
    background-color: #218CD3;
}

.dialog{
    width: 80%;
    height: 50%;
    margin: auto;
    margin-top: 10%;
    text-align: center;
}

.closebutton{
    margin-top: 30px;
}

.separator{
    margin-top: 30px;
}